h1 {
    text-align: center;
  }
  
form {
    margin-bottom: 50px;
    text-align: center;
  }
  
form label, form input, form textarea, form select, form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

.button_add {
    background-color: #e8ffe6;
}
  
table {
    border-collapse: collapse;
    width: 100%;
  }
  
table, th, td {
    border: 1px solid black;
    text-align: center;
    
  }